.github/actions/teams-notification/teams-adaptive-schema.json
{
  "$schema": "https://schema.management.azure.com/schemas/2016-06-01/workflowdefinition.json",
  "contentVersion": "1.0.0.0",
  "parameters": {},
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "teamsWebhookUrl": { "type": "string" },
            "locationCode": { "type": "string" },
            "resourceGroup": { "type": "string" },
            "environment": { "type": "string" },
            "branch": { "type": "string" },
            "message": { "type": "string" },
            "title": { "type": "string" },
            "color": { "type": "string" },
            "deploymentUrl": { "type": "string" },
            "approvalUrl": { "type": "string" },
            "rollbackUrl": { "type": "string" },
            "version": { "type": "string" },
            "author": { "type": "string" },
            "repository": { "type": "string" },
            "pr_description": { "type": "string" },
            "deploymentId": { "type": "string" },
            "artifactId": { "type": "string" },
            "runId": { "type": "string" },
            "adaptiveCard": { "type": "object" }
          },
          "required": [
            "teamsWebhookUrl",
            "locationCode",
            "resourceGroup",
            "environment",
            "branch",
            "message",
            "deploymentUrl"
          ]
        }
      }
    }
  },
  "actions": {
    "Initialize_Adaptive_Card": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "adaptiveCard",
            "type": "object",
            "value": {
              "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
              "type": "AdaptiveCard",
              "version": "1.2",
              "body": [
                {
                  "type": "TextBlock",
                  "text": "@{concat('Phoenix VC ', triggerBody()?['environment'], ' Deployment Notification')}",
                  "weight": "Bolder",
                  "size": "Large"
                },
                {
                  "type": "TextBlock",
                  "text": "@{concat('Deployment to ', triggerBody()?['environment'], ' Completed')}",
                  "wrap": true
                },
                {
                  "type": "FactSet",
                  "facts": [
                    { "title": "Environment", "value": "@{triggerBody()?['environment']}" },
                    { "title": "Location", "value": "@{triggerBody()?['locationCode']}" },
                    { "title": "Resource Group", "value": "@{triggerBody()?['resourceGroup']}" },
                    { "title": "Site URL", "value": "@{triggerBody()?['deploymentUrl']}" },
                    { "title": "Version", "value": "@{coalesce(triggerBody()?['version'], '')}" },
                    { "title": "Author", "value": "@{coalesce(triggerBody()?['author'], '')}" },
                    { "title": "Repository", "value": "@{coalesce(triggerBody()?['repository'], '')}" },
                    { "title": "PR Description", "value": "@{coalesce(triggerBody()?['pr_description'], '')}" }
                  ]
                },
                {
                  "type": "TextBlock",
                  "text": "@{concat('The deployment to ', triggerBody()?['environment'], ' has completed successfully. Please review the details above and take any necessary actions.')}",
                  "wrap": true
                }
              ],
              "actions": [
                {
                  "type": "Action.OpenUrl",
                  "title": "View Site",
                  "url": "@{triggerBody()?['deploymentUrl']}"
                },
                {
                  "type": "Action.OpenUrl",
                  "title": "Approve Production Deployment",
                  "url": "@{coalesce(triggerBody()?['approvalUrl'], '#')}"
                },
                {
                  "type": "Action.OpenUrl",
                  "title": "Rollback Deployment",
                  "url": "@{coalesce(triggerBody()?['rollbackUrl'], '#')}"
                }
              ]
            }
          }
        ]
      },
      "runAfter": {}
    },
    "Post_to_Teams": {
      "type": "Http",
      "inputs": {
        "method": "POST",
        "uri": "@{triggerBody()?['teamsWebhookUrl']}",
        "headers": {
          "Content-Type": "application/json"
        },
        "body": {
          "type": "message",
          "attachments": [
            {
              "contentType": "application/vnd.microsoft.card.adaptive",
              "content": "@{variables('adaptiveCard')}"
            }
          ]
        }
      },
      "runAfter": {
        "Initialize_Adaptive_Card": ["Succeeded"]
      }
    },
    "Return_Response": {
      "type": "Response",
      "kind": "Http",
      "inputs": {
        "statusCode": 200,
        "body": {
          "message": "Teams notification sent successfully"
        },
        "headers": {
          "Content-Type": "application/json"
        }
      },
      "runAfter": {
        "Post_to_Teams": ["Succeeded"]
      }
    }
  },
  "outputs": {}
}
